<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString2" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString3" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString4" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString5" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString6" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString7" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString8" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString9" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString10" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString11" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString12" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString13" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString14" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString15" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString16" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString17" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString18" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString19" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString20" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString21" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString22" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString23" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString24" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString25" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString26" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString27" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString28" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString29" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString30" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString31" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString32" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString33" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString34" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString35" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString36" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />
  <add name="collegeInformationConnectionString37" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />

    <add name="ConnectionString" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
   providerName="System.Data.SqlClient" />

    <add name="conn" connectionString="Data Source=NAVDEEP-PC\SQLEXPRESS02;Initial Catalog=collegeInformation;User ID=sa;Password=abc"
       providerName="System.Data.SqlClient" />



  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/frmhome.aspx" timeout="2880"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="ApplicationServices" enablePasswordRetrieval="false" 
             enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" 
      maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" 
      passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  
  
  
  <!--<location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny roles="User"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  
  <location path="User">
    <system.web>
      <authorization>
        <allow roles="User"/>
        <deny users=" ?"/>
      </authorization>
    </system.web>
  </location>-->
  
  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
